<% if @user == current_user %>
<h1> Its you </h1> 
<% end %>

<p>
  <%=h @user.login %>
</p>

<p>
  <b>Last messages : </b>
  <% @messages.each{|message| %>
    <li>
      <%= message.body %>
    </li>
    <% } %>
</p>


<%= link_to "Edit", edit_account_path %>

